html {
	/*overflow-y:scroll;*/
}
#navigation #menu > ul{
	display: block!important; /* preloading menu not needed,n o more menu. So hide.. */
}
#menu ul > li
{
	position:static!important;
}
#menu > ul > li  ul li a{
	margin:0!important;
}
#menu > ul > li  ul li {
	padding:0!important;
	margin: 0 !important;
}
#menu > ul > li > ul li{
	height:35px!important;
	
}
#menu > ul > li > ul a{
	font-family: inherit!important;
	font-size: inherit!important;
	font-weight: inherit!important;
	color:inherit!important;
	letter-spacing:inherit !important;
	padding:8px 20px!important;
	height:19px!important;
}
#navigation.left #menu > ul > li ul, #navigation.right #menu > ul > li ul, #navigation.top #menu > ul > li > ul > li ul{
	/*left:auto!important;
	right:-222px!important;
	top:0px!important;*/
	border:1px solid #DBDBDB;
	margin-top:-33px;
	top:auto!important;
}
/*
#navigation.right #menu > ul > li  ul{
	/*right:auto!important;
	left:-222px!important;
	top:0px!important;
	border:1px solid #DBDBDB;
	margin-top:-33px;
	top:auto!important;
}*/
#menu  ul > li > ul > li{
	border-bottom:1px solid #DBDBDB!important;
}
body, [data-design="background"] {
	margin:0;
	font-size:13px;
	font-family:Tahoma;
	background-color:#fff;
	color:#444444;
}
[data-design="background"] {
	padding:1px 0;
}
#wrapper {
	margin:60px auto 20px;
	max-width:800px;
	border:3px solid #5FACEA;
	border-radius:15px;
	overflow:hidden;
	/*overflow:hidden; needed for nested menu's, don't know why it was there */
	line-height: 19px;
	background: #fff;
	font-family: Tahoma, Arial;

}
#wrapper a {
	text-decoration: underline!important;
}
#header_color{
	background-color:#5FACEA;
}
#header {
	padding:5px;
	color:#fff;
	text-align:center;
	height:100px;
	background-color:#5FACEA;
	overflow:hidden; 
}

#header h1 {
	font-size:36px;
	font-weight: normal;
}

#wrapper,#navigation,#content {
	/*background-color:#FAFAFA;*/
}

#navigation.right,#navigation.left {
	width:150px;
	height:100%;
}

#navigation.right {
	float:right;
}

#navigation.left {
	float:left;
}

#navigation.top {
	width:100%;
	float:right;
}

#navigation ul {
	list-style-type:none;
	padding:0;
	margin:0;
	font-size:14px;
}

#navigation li a {
	text-decoration:none!important;
	padding:7px 10px;
	display:block;
	background-color:#f9f9f9;
	color:inherit;
}

#navigation.top li,#navigation.left.style2 li,#navigation.right.style2 li {
	border-bottom:0;
}

#navigation.top.style2 li {
	float:left!important;
	padding:6px 10px;
}

#navigation.top.style2 li a {
	border-radius:3px;
}

#navigation.top.style1 li {
	float:left!important;
}

#navigation.top.style1 li a {
}

#navigation.left.style2 li:first-child,#navigation.right.style2 li:first-child {
	margin-top:10px;
}

#navigation.left.style1 li,#navigation.right.style1 li {
	border-bottom:1px solid #ffffff;
}

#navigation.left.style1 li a,#navigation.right.style1 li a {
}

#navigation.left.style2 li,#navigation.right.style2 li {
	border-bottom:1px solid #EAEADA;
}

#navigation.left.style2 li a,#navigation.right.style2 li a {
	margin:3px 5px;
	border-radius:3px;
}

#navigation li a:hover,#navigation li a.active {
	background-color:#F0F0EB;
}

#content {
	padding:10px;
	min-height:300px;
	/*position:relative;*/
	overflow:hidden;
}
.box2{
	min-height: 150px;
}

#footer {
	background-color:#5FACEA;
	padding:10px;
	clear:both;
	bottom:0;
	color:#fff;
}
#sidebar {
	padding:5px;
}

h1 {
	font-size:1.8em;
	margin-bottom:4px;
	line-height: 1.5;
	margin-top:16px;
}

h2 {
	font-size:1.6em;
	line-height: 1.5;
	margin-top:4px;
}

h3 {
	font-size:1em;
}

div.clearer {
	clear:both;
}

#footer_logo {
	/*background:url(images/ico.png) top left no-repeat;*/
	height:32px;
	padding-left:36px;
	margin-left:-15px;
}
@media screen and (max-width:700px) {
	#navigation {
		display:none;
	}
	#wrapper {
		margin-top:10px;
		border-radius:0;
	}
	#header {
		max-height:180px;
	}
}
.mobile_view #navigation {
	display:none!important;
}
.mobile_view #wrapper {
	margin-top:10px!important;
	border-radius:0!important;
}
.mobile_view #header {
	max-height:180px!important;
}
#menu > ul > li.language_selector:first-child {
	margin-left:20px;
}
[data-id="custom_layout_sidebar"].left #menu > ul > li.language_selector, [data-id="custom_layout_sidebar"].right #menu > ul > li.language_selector {
	width:30px;
	float:left;
	text-align: center;
	border:0!important;
}
[data-id="custom_layout_sidebar"].left #menu > ul > li.language_selector > a, [data-id="custom_layout_sidebar"].right #menu > ul > li.language_selector > a {
	background:none!important;
}
[data-id="custom_layout_sidebar"].top #menu > ul > li.language_selector {
	padding-left:3px;
	padding-right:3px;
}
